html {
    font-family: sans-serif;
}
body, html {
    height: 100%;
    min-height: 100%
}
* {
    text-rendering: optimizeLegibility;
    letter-spacing: .0125em;
    word-spacing: .03125em
}
html {
    font-family: sans-serif;
}
body {
    margin: 0
}
body {
    background: #f5f5f5;
    font-family: 'Source Serif Pro';
    font-size: 16px;
}
header {
    height: 70px;
    padding: .875em 1.5em
}
header {
    position: fixed;
    z-index: 51;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, .05);
    line-height: 0
}
header a.logo {
    width: 180px;
    height: 95px;
}
header a.logo {
    display: inline-block;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    transition: all .25s ease-out;
    transition-delay: .4s
}
header .menu ul a {
    display: block;
    font-family: Poppins;
    font-weight: 500;
    font-size: .9375em;
    letter-spacing: .05em;
    white-space: nowrap;
    color: #333;
    text-transform: uppercase;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out
}
header .menu ul a:focus, header .menu ul a:hover {
    color: #241fb6
}
a {
    cursor: pointer;
    color: inherit;
}
a {
    text-decoration: none
}
#menu-trigger {
    visibility: hidden
}
#menu-trigger+label {
    display: none
}
#menu-trigger+label {
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 1em;
    margin-top: 1px;
    margin-bottom: 0;
    width: 22px;
    height: 14px
}

header .menu {
    position: absolute;
    display: block ;
    top: auto;
    left: auto;
    padding: 0;
    width: auto;
    max-height: 100%;
    border: none;
    background: 0 0;
    text-align: left;
    overflow: visible
}
@media (min-width:1200px) {
    .container {
        width: 1170px
    }
}
.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 120px;
    padding-right: 120px
}
.clearfix:after, .clearfix:before, .container-fluid:after, .container-fluid:before, .container:after, .container:before, .dl-horizontal dd:after, .dl-horizontal dd:before, .form-horizontal .form-group:after, .form-horizontal .form-group:before, .nav:after, .nav:before, .row:after, .row:before {
    content: " ";
    display: table
}

@media (min-width:992px) {
    .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {
        float: left
    }
    .col-md-12 {
        width: 100%
    }
    footer a.logo {
        width: 220px;
        height: 133px
    }
    footer .menu#social-media {
        margin-top: .75em
    }
    footer .menu#social-media li {
        margin-right: .5em
    }
    footer .menu#social-media li a {
        width: 36px;
        height: 36px;
        transition: all .3s ease-out
    }
    footer .menu#social-media li a i.fa-2x {
        font-size: 1.3125em;
        line-height: 33px
    }
    footer .menu#footer {
        display: block
    }
    footer .menu#footer li{
        margin-right:1.5em
    }
    footer .menu#footer li a {
        font-family: Poppins;
        font-size: .875em;
        font-weight: 500;
        letter-spacing: .0375em;
        text-transform: uppercase

    }

}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-left: 130px;
    padding-right: 130px
}

.page-title, .section-title {
    color: #241fb6 !important;
}
h1, h2 {
    font-weight: 700
}
h1, h2, h3, h4 {
    padding: 0;
    font-family: Poppins;
    line-height: 1.25
}
.clearfix:after, .container-fluid:after, .container:after, .dl-horizontal dd:after, .form-horizontal .form-group:after, .nav:after, .row:after {
    clear: both
}
body.home section#area .col {
    padding: 0
}
@media (min-width:768px) {
    .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9 {
        float: left
    }
    .col-sm-4 {
        width: 50%
    }
    header .menu nav {
        position: relative;
        padding-right: 1em
    }
    header .menu {
        position: absolute;
        display: block ;
        top: auto;
        left: auto;
        padding: 0;
        width: auto;
        max-height: 100%;
        border: none;
        background: 0 0;
        text-align: left;
        overflow: visible
    }
    header .menu {
        right: 2.5em;
        bottom: .7em
    }
    header .menu>* {
        display: inline-block;
        vertical-align: middle
    }
    header .menu ul.main-menu>li {
        display: inline-block;
        vertical-align: middle;
        margin: 0 .875em

    }

    /*distance between flags and riomaggiore-distance between border and flag-distance top and bottom*/
    .language-switcher {
        margin: 0 10px 0 0
    }
    /* distance flags change language*/
    .language-switcher>* {
        margin: 0 0 0 .375em
    }
    .language-switcher a {
        opacity: .5
    }
    .language-switcher a:focus, .language-switcher a:hover {
        opacity: .8
    }
}
@media (min-width:992px) {
    a.read-more {
        font-size: .9375em
    }
    footer {
        margin-top: 5em;
        padding: 2.5em 0
    }
}
footer {
    margin-top: 4em;
    padding: 1.5em 0;
    background-image: url(https://i.ibb.co/XxtzXXT/img-manarola.jpg);
    background-size: cover;
    background-position: 50% 50%
}
@media (min-width:1200px) {
    .container {
        width: 1170px
    }
}
.fmenu{
    text-align: center;
}
footer a.logo {
    display: inline-block;
    background-size: 100% 100%;
    background-repeat: no-repeat
}
footer .menu {
    list-style: none;
    margin: 0;
    padding: 0
}
footer .menu li {
    display: inline-block;
    vertical-align: middle
}
footer .menu#social-media li a {
    display: block;
    border-radius: 50%;
    text-align: center;
}
footer .menu#social-media li a {
    border: solid 2px #241fb6 !important;
}
footer .menu li a {
    color: #241fb6 !important;
}
footer .menu#social-media li a i.fa-2x {
    transition: all .3s ease-out
}
footer .menu li a {
    color: #303580
}
/* Accessible for screen readers but hidden from view */
.fa-hidden {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
}
@media (min-width:768px) {
    footer #copyright {
        margin: 2em 0 0;
        font-size: .75em
    }
    footer #yelp-attribute {
        display: block;
        margin: 1em 0 0
    }
    footer #yelp-attribute {
        font-size: .75em
    }
    footer #yelp-attribute .yelp-logo {
        margin: -5px 0 0 1px;
        width: 47px;
        height: 24px
    }
}
footer #copyright {
    margin: 1.25em 0 0;
    font-family: Poppins;
    font-size: .6875em
}
footer #copyright {
    text-align: center;
}

.language-switcher img {
    height: auto
}
.language-switcher>* {
    display: inline-block;
    vertical-align: middle;
    margin: 0 .375em
}
.language-switcher a {
    opacity: .5
}
.language-switcher img {
    height: auto
}
body.home section#area .item:focus::after, body.home section#area .item:hover::after {
    opacity: .6;
    -webkit-transform: scale(.9);
    transform: scale(.9)
}
footer .menu#social-media li a:focus, footer .menu#social-media li a:hover {
    background: #303580
}
footer .menu#social-media li a:focus i.fa-2x, footer .menu#social-media li a:hover i.fa-2x {
    color: #fff
}
.bx-wrapper .bx-controls-direction a:focus, .bx-wrapper .bx-controls-direction a:hover {
    opacity: 1
}
header .menu ul.main-menu>li.menu-item-has-children>a:focus::after, header .menu ul.main-menu>li.menu-item-has-children>a:hover::after {
    color: #333
}
header .menu ul.main-menu>li.menu-item-has-children>.sub-menu .sub-menu a:focus, header .menu ul.main-menu>li.menu-item-has-children>.sub-menu .sub-menu a:hover {
    -webkit-transform: translate(5px, 0);
    transform: translate(5px, 0)
}
@media (min-width:992px) {
    a.read-more {
        font-size: .9375em
    }
    .site-content {
        margin-top: 126px;
        padding: 3em 0 0
}
body.page-template-page-about section.intro .row:last-child {
    border-bottom: solid 1px #ddd;
    padding-bottom: 3em
}

@media (min-width:768px) {
    .page-title, .section-title {
        position: relative;
        margin: 0 8.7em 1.875em;
        font-size: 2.25em
        letter-spacing: .0125em;
        text-align: center;
        text-transform: uppercase;
        color: #303580
    }
    .page-title::after, .section-title::after {
        content: '';
        position: absolute;
        bottom: -.5em;
        left: 50%;
        margin-left: -16px;
        width: 32px;
        height: 3px;
        background: #303580
    }
    .page-title, .section-title {
        font-size: 2.25em
    }
    .page-title::after, .section-title::after {
        margin-left: relative;
        width: 44px
    }
}
/* Navbar container */
.navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial;
}

/* Links inside the navbar */
.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* The dropdown container */
.dropdown {
    float: right;
    overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a blue background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: blue;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}
